<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc-SAU</title>
</head>
<body>

<style>
body {
    background: #1d2b42;
}
.rota {
    background: #eee;
    margin: 30px;
    font-family: sans-serif;
    font-size: 19px;
    padding:10px;}

.link {
    background: #293d5d;
    color: #fff;
    padding: 10px;
}
.texto {
    background: #fff;
    margin: 29px;
    padding: 17px;
    font-family: sans-serif;
}


</style>

{%
    set link = {
        '/files':{'input':"GET > {'file': str }", 'output':"json {'response': bool , 'files': json{'file': str, 'type':str, 'estado':'online'|'offline'} }"},

        '/login/login':{'input':"POST > {'user': str , 'pwd':str}" , 'output':"json {'response': bool ,  'mensg': str , 'files': list , 'filhos': list , 'token': str}"},

        '/$user/logout':{'input':"POST > {'user': str }" , 'output':"json {'response': bool , 'mensg': str }"},

        '/$user/new_pasta':{'input':"POST > {'nome': str }" , 'output':"json {'response': bool , 'mensg': str }"},

        '/$user/del_pasta':{'input':"POST > {'nome': str , *'confirm':true}" , 'output':"json {'response': bool , 'mensg': str }"},

        '/$user/del_file':{'input':"POST > {'file': str }" , 'output':"json {'response': bool , 'mensg': str }"},

        '/$user/upload':{'input':"POST > {'file': str }" , 'output':"json {'response': bool , 'mensg': str }"},

        '/$user/new_user':{'input':"POST > {'user': str }" , 'output':"json {'response': bool , 'mensg': str }"},
        
        '/$user/del_user':{'input':"POST > {'user': str }" , 'output':"json {'response': bool , 'mensg': str }"},

        '/$user/filhos':{'input':"POST > {'user': str }" , 'output':"json {'response': bool , 'filhos': list }"},

        '/$user/estado':{'input':"POST > {'file': str , 'estado': 'online'|'offline'}", 'output':"json {'response': bool , 'mensg': str }"},
        
        '/$user/rename':{'input':"POST > {'nome': str , 'new_nome': str }" , 'output':"json {'response': bool , 'mensg': str }"},
    }
%}

<div class="texto">
    <h2>SAU Docs:</h2>
    É um sistema diponibilizador de arquivos e gerenciavel, sua funcionalidade: Dispor arquivos e pastas de forma segura e controlada. <br>
    Conta com uma interfacie de usuario para dipor os arquivos com: Uploads, criação de usuarios gereciadores vinculados a pasta, dispor arquivos online ou offline. <br>
    As funcionalidades da API expressas nos endpoints abaixos. <br>
    A segurança conta com altenticação via IP e validação continua. 
</div>
{%for i in link%}

<div class="rota">
    <div class="link">
        $host {{i}} <br>
    </div>
    input : {{link[i].input}} <br>
    output : {{link[i].output}} <br>
</div>
{%endfor%}
    
</body>
</html>